<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserEmail" value="shobhitpra4@gmail.com"/>
		<add key="AppPassword" value="uwpxthnycxrolkjc"/>
		<add key="GmailImapServer" value="imap.gmail.com"/>
		<add key="ImapPort" value="993"/>
	</appSettings>
</configuration>